button:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus, textarea:focus {
  outline-color: #5BAB2F !important;
}

button:hover {
  cursor: pointer;
  background-color: #95D356 !important;
  color: #ffffff !important;
}